<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="AndroidTesting" parallel="tests" thread-count="1">

    <test name="Tourist">
        <classes>
            <class name="at.tests.TouristTest" />
        </classes>
    </test>

</suite>



